:root{
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-blue: #3B4780;
    --clr-red: #EB2028;
    --clr-drk-red: #cc0000;
    --clr-grey: #e6e6e8;
    --clr-drk-grey: #848799;
    --clr-light-grey: #a6a6a6;
    --clr-li-grey: #cccccc;
    --clr-l-grey: #8c8c8c;
    --clr-l-blue: #9dbff5;
    --clr-drkr-grey: #808080;

}

