.banner-outer {
   background-color: var(--clr-drk-blue);
   padding: 20px 0px;
}
.banner-head {
   display: flex;
   justify-content: space-between;
   color: var(--clr-white);
   font-size: 13px;
   font-weight: bold;
}