.banner-outer {
   background-color: var(--clr-drk-blue);
}
.banner-head {
   display: flex;
   justify-content: space-between;
   p {
      color: var(--clr-white);
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
      padding: 20px;
      &:hover {
         background-color: var(--clr-red);
      }
   }
}