.fm-nav-tab {
   border: 0;
   justify-content: center;
   .fm-nav-tab__btn {
      margin: 30px 20px 0px 0px;
      background: 0 0;
      color: var(--clr-red);
      border: 1px solid var(--clr-red);
      border-radius: 20px;
      &:hover {
         border: 1px solid var(--clr-red);
      }
      &.active {
         color: white;
         background-color: var(--clr-red);
      }
   }
}
.fm-nav-tab__cnt .fm-nav-tab__tiles {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 30px;
}
