.testimonial-card {
   width: 370px;
   padding: 30px 20px;
   box-shadow: 0 0 20px var(--clr-grey);
   &__text {
      font-size: 15px;
      color: var(--clr-drk-grey);
      margin: 8px 0px;
   }
   &__name {
      font-size: 14px;
      font-weight: 500;
      margin-left: 8px;
      color: var(--clr-blue);
   }
}